.link-style{
    color: black;
    text-decoration: none;
}
.link-style:hover,
.link-style:focus {
    color: #fff933;
    text-decoration: none;
}

body {
  background-color: #E0E3E5;
  font-family: 'Permanent Marker', cursive;
}

.jumbotron h1 {
  text-transform: uppercase;:
}
