<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Welcome to the Task Manager</h1>
  </div>
</div>

<ul class='text-center list-unstyled'>
  <li class=''><h2><a class="link-style" href="/tasks">Task Index</a></h2></li>
  <li class=''><h2><a class="link-style" href="/tasks/new">New Task</a></h2></li>
</ul>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Task Manager</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/tasks">Task Index</a></li>
      <li><a href="/tasks/new">New Task</a></li>
    </ul>
  </div>
</nav>
