<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link rel="shortcut icon" href="/checkmark-512-253846.png">
  <title>Task Manager</title>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
